#header {
  padding: 1.75rem 0;
  box-shadow: $theme-box-shadow;
  @include clearfix();
  background-color: var(--theme-element-color);

  @include mobile {
    padding: 3rem 0;
  }
}

.page-title {
  float: left;
  font-size: 1.5rem;
  line-height: 1.5rem;

  @include mobile {
    font-size: 1.2rem;
  }
}

.theme-switcher {
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  line-height: 1.5rem;
  color: var(--text-color);

  @include mobile {
    height: 1.5rem;
  }

  .icon {
    margin-right: 0.2rem;
  }
}