.countries-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2.5rem;
}

.country-card {
  flex: 25%;
  max-width: 25%;
  padding: 2.5rem;

  @media (max-width: $desktop - 1) {
    flex: 100%;
    max-width: 100%;
  }
}

.country {
  display: block;
  color: var(--theme-text-color);
  background-color: var(--theme-element-color);
  box-shadow: $theme-box-shadow;
  text-decoration: none;
  border-radius: 4px;

  opacity: 0;
  transition: opacity .3s ease;

  &.img-loaded {
    opacity: 1;
  }
}

.country-flag {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 10rem;
  border-radius: 4px 4px 0 0;

  // mobile
  @media (max-width: $desktop - 1) {
    height: 12.6rem;
  }
}

.country-flag-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;

  &.fix-width {
    width: 100%;
    max-height: none;
  }

  &.fix-height {
    height: 100%;
    max-width: none;
  }
}

.country-details {
  padding: 1.5rem;

  h3 {
    font-size: 1.1rem;
    margin: 0 0 1.5rem;
  }

  .country-more {
    list-style: none;
    padding-left: 0;

    li {
      padding: 0.2rem 0;
    }
  }
}